
.home-page-main-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page-content-container {
  display: flex;
  width: 40vw;
  height: 80vh;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.home-page-description-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex: 0.5;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.home-page-mobile-screen-container {
  display: flex;
  flex: 0.5;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home-page-description-bottom-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.home-page-details-container {
  padding-left: 20px;
  padding-top: 4vh;
  padding-bottom: 10vh;
  text-align: justify;
}

.home-dog-animation {
  min-width: 10vw;
}

.banner-image {
  padding-left: 20px;
  height: 10vh;
}

.mobile-screen-image {
  height: 60vh;
}

.play-store-button-image {
  height: 10vh;
}

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media (max-width: 600px) {
  .home-page-content-container {
    height: 100vh;
    width: 100%;
    flex-direction: column;
    overflow-y: scroll;
  }
  .banner-image {
    padding-left: 20px;
    padding-top: 270px;
  }

  .home-page-details-container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .home-dog-animation {
    padding-bottom: 30px;
  }

}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (min-width: 600px) {
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width: 801px) {
}

/* big landscape tablets, laptops, and desktops */
@media (min-width: 1025px) {
}

/* hi-res laptops and desktops */
@media (min-width: 1281px) {
}

/* all landscape modes - mobile devices below 1025px */
@media (max-width: 1025px) and (orientation: landscape) {
  .home-page-content-container {
    width: 100vw;
  }
  .home-dog-animation {
    width: 10vw;
  }
}
